{% extends "base.html" %}
{% block body %}
    {{ super() }}


        <h1>Select a playlist</h1>
        <div class="list-group" id="songs" data-api="{{ api }}">
            {% for playlist in playlists %}
                <a href="#" data-playlist-id="{{ playlist._id }}" class="list-group-item">{{ playlist._title }}</a>
            {% endfor %}
        </div>
        <a class="btn btn-lg btn-success" href="#" id="submit-playlist-selection-btn" role="button">Submit my
            selection</a>
        <div class="error-container"><h6 class="error-message"> </h6></div>


{% endblock %}
{% block footer %}
    {{ super() }}
    <script src="js/display_playlists.js"></script>

{% endblock %}
